<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.military">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:name=".huanqiu.MilitaryActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:name=".ui.activity.TestActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:name=".guide.GuideActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTop"
            android:name=".video.ChannelActivity">
        </activity>
        <activity
            android:theme="@style/VideoActivityTheme"
            android:launchMode="singleTop"
            android:name=".video.VideoActivity">
        </activity>

        <activity
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:name=".ui.activity.SplashActivity">

        </activity>
    </application>

</manifest>