<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.military">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".huanqiu.news.MilitaryActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoActivityTheme" />
        <activity
            android:name=".ui.activity.TestActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".guide.GuideActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        </activity>
        <activity
            android:name=".video.ChannelActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".video.VideoActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoActivityTheme" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".huanqiu.NewsDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".huanqiu.weapon.WeaponActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoActivityTheme" />
        <activity
            android:name=".huanqiu.weapon.WeaponDetailActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".picture.PictureActivity"
            android:launchMode="singleTop"
            android:theme="@style/VideoActivityTheme" />
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:name=".picture.PictureDetailActivity"
            />

        <service
            android:name="com.tencent.tinker.app.service.TinkerServerResultService"
            android:exported="false"
            />
    </application>

</manifest>